/* 
    Author: Abdullah sayeed;
    Theme: player recruitment site;
    version: 1.0
*/

/*CSS for all */
*{
    margin 0 0;
    padding 0 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Makes layout responsive */
}
.container{
    border: 1px solid blue;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.test-responsive{
    width: 100%;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align: center;
}
.clearFix{
    clear: both;
    float: none;
}
a{
    color: #EBEAFF;
    text-decoration: none;
}
a:hover{
    background-color: ;
    color: #eb4d4b
}
.button{
    padding: 1%;
    Border: none;
    font-size: 1rem;
}

/* CSS for navbar section */
.logo{  
    width: 10%;
    max-width: 150px;
    min-width: 80px;
    float: left;
}
.menu{
    line-height: 30px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3% 0;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 2%;
    font width: bold;
}

/* Ensure full screen width on any device */
body, html {
    width: 100%;
    overflow-x: hidden;
}

/*CSS for footer */
.footer{
    line-height: 30px;
    background-color: #9EDF9C ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3% 0;
}
.contact{
    display:contents;
    justify-content: center;
}